.messages_box {
  height: 400px;
  justify-self: center;
  grid-row: 1/2;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  width: 97%;
  overflow: auto;
}

.messages_box > :first-child {
  margin-top: auto !important;
}
.operator_message {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
  border-radius: 7%;
  padding: 10px;
  text-align: left;
}
.text_message {
  padding-right: 5px;
  word-wrap: break-word;
  font-size: 15px;
  width: 30%;
}

.date_message {
  font-size: 70%;
}
.client_message {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  border-radius: 7%;
  padding: 10px;
  text-align: left;
}

.btn_turn {
  position: absolute;
  bottom: 30%;
  right: 80%;
}
.btn_turn button {
  width: 30px;
  padding: 0;
}

.found_message {
  animation-name: background;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}

@keyframes background {
  from {
    background-color: none;
  }
  to {
    background-color: aquamarine;
  }
}
