.open_dialog {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.messages {
  margin: 5px;
  height: 90%;
  box-sizing: border-box;
  border: 1px black solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.3fr 0.5fr;
  align-items: center;
}


.butt_close {
  padding: 0;
  font-size: 11px;
  width: 20px;
  height: 20px;
  border-radius: 5%;
  position: absolute;
}



.dialog_time {
  text-align: center;
  grid-row: 2/3;
}

.submission {
  grid-row: 3/4;
}

.submission_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3px;
  border-top: 1px black solid;
}

.enter_text {
  border-radius: 4px;
  padding: 5px;
  width: 70%;
  height: 110px;
  align-items: center;
  font-size: 17px;
}

.butt_setting {
  padding: 0;
  font-size: 11px;
  width: 70%;
  border-radius: 5%;
}

.button_send {
  width: 100%;
}

.select_text {
  width: 200px;
}
