.main-page {
  display: grid;
  grid-template-columns: 1fr 8fr;
  width: 100%;
  margin: 20px;
  grid-template-rows: 1fr 15fr;
  border: black 1px solid;
}

.left-blocks {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  border-right: black 1px solid;
}

.top-block {
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 2fr 1.5fr 0.5fr;
  grid-template-rows: 0.3fr;
  align-items: center;
  justify-items: center;
}

.line_clients {
  grid-column: 1/2;
  grid-row: 1;
}

.user_login {
  grid-column: 2/3;
  grid-row: 1;
}

.logout-button {
  grid-column: 3/4;
  grid-row: 1;
  width: 70px;
}

.dialogue {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.dialogue input {
  width: 200px;
  align-self: flex-end;
}

.block {
  background: white;
  box-sizing: border-box;
  border-bottom: black 1px solid;
  height: 100px;
  text-align: center;
  font-size: 15px;
}

.search {
  align-self: flex-end;
  display: flex;
  margin: 5px;
  align-items: center;
}

.search button {
  width: 60px;
  align-self: center;
  text-align: center;
  font-size: 11px;
  margin: 3px;
  padding: 0;
}

.search-group {
  display: flex;
  justify-content: flex-end;
}

.btn-click {
  width: 60px;
  height: 20px;
  padding: 0;
  font-size: 11px;
}

.btn-save {
  grid-column: 3/4;
  grid-row: 3/4;
}

.btn-continue {
  grid-column: 3/4;
  grid-row: 1/2;
}

.btn-open {
  grid-column: 3/4;
  grid-row: 3/4;
}

.btn-delete {
  grid-column: 3/4;
  grid-row: 3/4;
}

.rating {
  grid-column: 3/4;
  grid-row: 1/2;
  font-size: 19px;
  user-select: none;
}

.dialogs {
  margin: 5px;
  border: 1px black solid;
}

.client {
  grid-column: 0/1;
  grid-row: 2/3;
  font-size: 15px;
  align-items: center;
  text-align: center;
}

.date {
  font-size: 12px;
  text-align: center;
  grid-column: 3/4;
  grid-row: 2/3;
}

.message {
  width: 100%;
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  border-bottom: 1px black solid;
}

.text {
  grid-row: 1/4;
  grid-column: 2/3;
  text-align: left;
  font-size: 15px;
  word-wrap: break-word;
}
