.auth {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: space-around;
  border: 1px black solid;
  border-radius: 20px;
  align-items: center;
  padding: 20px;
}
input,
button {
  width: 270px;
  height: 30px;
  margin: 10px;
}

p {
  font-size: 12px;
  color: gray;
  margin: 0;
  align-self: flex-start;
}

.link{
  font-size: 12px;
  width: 300px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

.social{
  display: flex;
  justify-content: space-around;
  width: 350px;
}