.button {
    height: 40px;
    border-width: 0;
    width: 60px;
    background: whitesmoke;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
}
.button:focus,
.button:hover {
     box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
 }

.button:active {
     background-color: #e5e5e5;
     box-shadow: none;
     transition-duration: 10ms;
 }
